<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnvironmentMonitor.Properties.Settings.ECConnectionString"
            connectionString="Data Source=192.168.11.50;Initial Catalog=EC;User ID=sa;Password=Abc1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>